@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Http; 
@inject IHttpContextAccessor i;

@{
    string URL = i.HttpContext.Request.Headers["referer"].ToString();
    
    TempData["returnURL"] = URL;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shopping.com</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Team2_DotNetCA.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    @*\/Matt Cart Icon\/*@
    <script
    src="https://kit.fontawesome.com/8f27d68390.js"
    crossorigin="anonymous">
    </script>
    @*/\Matt Cart Icon/\*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Browse" asp-action="Index"><h2><b>Shopping.com</b></h2></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Browse" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a id= "ph-display" style="display: none" class="nav-link text-dark" asp-area="" asp-controller="Purchase" asp-action="Index">My Purchases</a>
                        </li>
                        <li class="nav-item">
                            
                                <a id= "Login" style="display: none" class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>

                                 <a id= "Logout" style="display: none" class="nav-link text-dark" asp-area="" asp-controller="Logout" asp-action="Logout">Logout</a>
                           
                        </li>  
                    </ul>
                    <div class="cart-icon" style="text-align: right">
                    <a class="button" id="load-btn"  asp-controller="Browse" asp-action="UserAddItem"><i class="fas fa-cart-arrow-down fa-2x"></i></a>
                    </div>
                    <h6 id="Display-Name" class="nav-link text-dark" style="text-align: right"></h6>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Shopping.com 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

